<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Amounts</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>

<body>

<!--<h3 th:text="'Информация о пользователе: '+ ${legalEntities.fullName}"></h3>-->
<table class="tg">
    <tr>
        <th width="80">name</th>
        <th width="120">num</th>
        <th width="120">bank</th>
        <th width="60">currency</th>
        <th width="60">status</th>
        <th width="60">Остаток</th>
    </tr>
    <tr th:each="account : ${accounts}">
        <td th:text="${account.name}"></td>
        <td th:text="${account.num}"></td>
        <td th:text="${account.bank.name}"></td>
        <td th:text="${account.currencyCode}"></td>
        <td th:text="${account.status.name}"></td>
        <td><a th:href="${'/manage/account/balance?accountId='+{account.id}}">Просмотр</a></td>
        <!--<td><form method="Get" th:action="${'/manage/account/balance?accountId='+{account.id}+'&='+date}">-->
        <!--<input type="hidden" name="accountId" id="accountId" th:value="${account.id}"/>-->
        <!--<button type="submit" name="submit" value="value" class="link-button">Просмотр</button>-->
        <!--</form> </td>-->
    </tr>
</table>
<div><a th:href="${'/manage/home'}">Верунться к юр. лицам</a></div>
</body>
</html>