<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <title>Legal entities</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
  <link rel="stylesheet" type="text/css"
        th:href="@{/webjars/datatables/1.10.15/css/jquery.dataTables.min.css}"/>
  <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  <script type="text/javascript"
          th:src="@{/webjars/datatables/1.10.15/js/jquery.dataTables.min.js}"></script>
</head>
<body>


<form method="get" id="paymentsForm" th:action="${'/manage/payments/'}">
  <table>
    <tr>
      <td><input type="date" id="dateBegin" name="dateBegin"/></td>
      <td><input type="date" id="dateEnd" name="dateEnd"/></td>
    </tr>
  </table>
  <!--<input type="hidden" name="legalEntityId" th:value="${legalEntity.id}"/>-->
  <button type="button" id="submit">Просмотр</button>
</form>

<table class="tg" id="paymentsTable"><!--th:if="${payments!=null}"-->
  <thead>
  <tr>
    <th width="80">Номер</th>
    <th width="120">Дата</th>
    <th width="120">Счет отправителя</th>
    <th width="60">Юр. лицо поулчателя</th>
    <th width="60">Счет получателя</th>
    <th width="60">Контракт</th>
    <th width="60">Код валюты</th>
    <th width="60">Сумма платежа</th>
    <th width="60">Причина</th>
    <th width="60">Код приоритета</th>
    <th width="60">Статус</th>
    <th width="60">Причина отказа</th>
    <th width="60">Управление</th>
  </tr>
  </thead>
  <!--<tr th:each="payment : ${payments}">
      <td th:text="${payment.num}"></td>
      <td th:text="${payment.date}"></td>
      <td th:text="${payment.senderAccount.num}"></td>
      <td th:text="${payment.recipientLegalEntity.shortName}"></td>
      <td th:text="${payment.recipientAccount.num}"></td>
      <td th:text="${payment.contract != null} ? ${payment.contract.name} : 'Нет'"></td>
      <td th:text="${payment.currencyCode}"></td>
      <td th:text="${payment.orderAmount}"></td>
      <td th:text="${payment.reason}"></td>
      <td th:text="${payment.priorityCode}"></td>
      <td th:text="${payment.status.name}"></td>
      <td th:text="${payment.rejectReason}"></td>
      &lt;!&ndash;<td th:text="${payment.status.name}"></td>&ndash;&gt;
      <td >
          <a th:text="${payment.status.code.toString()=='NEW' or payment.status.code.toString()=='TAKED'} ? Отменить : ''"
             th:href="${'/manage/payments/cancel?paymentId=/'+{payment.id}}"></a>
      </td>
  </tr>-->
  <!--th:text="${payment.status.code.toString()=='NEW' or payment.status.code.toString()=='TAKED'} ? Удалить : ''"-->
</table>

<a href="/manage/create_payment/new">Создать платежное поручение</a>
<p/>
<a href="/manage/home">Назад</a>

<!--<a th:href="/manage/create_payment/new">Создать платежное поручение</a>-->

<script th:src="@{/js/dataTables.js}" type="text/javascript"></script>
<script th:src="@{/js/functions.js}" type="text/javascript"></script>

</body>
</html>