<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}"/>
</head>
<body>

<!--<h3 th:text="'Информация о пользователе: '+ ${legalEntities.fullName}"></h3>-->
<table class="tg">
    <tr>
        <th width="80">shortName</th>
        <th width="120">fullName</th>
        <th width="120">inn</th>
        <th width="120">kpp</th>
        <th width="60">ogrn</th>
        <th width="60">Address</th>
        <th width="60">Выбрать</th>

    </tr>


    <tr th:each="legalEntity : ${legalEntities}">
        <td th:text="${legalEntity.shortName}"></td>
        <td th:text="${legalEntity.fullName}"></td>
        <td th:text="${legalEntity.inn}"></td>
        <td th:text="${legalEntity.kpp}"></td>
        <td th:text="${legalEntity.ogrn}"></td>
        <td th:text="${legalEntity.address}"></td>
        <td>
            <a th:href="${'/manage/create_payment/setRecipientLegalEntity'+'?legalEntityId='+{legalEntity.id}}">Выбрать</a>
        </td>
    </tr>
</table>

</body>
</html>